@using DemoShop.Application.Extensions
@using DemoShop.DataLayer.DTO.Seller
@model DemoShop.DataLayer.DTO.Seller.FilterSellerDTO
@{
    ViewData["Title"] = "درخواست های فروشندگی";
}

<div class="col-xs-4">
    <div class="well with-header">
        <div class="header bordered-sky">
            فیلتر
        </div>
        <form asp-area="Admin" asp-controller="Seller" asp-action="SellerRequests" method="get" id="filter-form">
            <input type="hidden" asp-for="PageId" />
            <div class="form-group">
                <label>نام فروشگاه</label>
                <input class="form-control" asp-for="StoreName">
            </div>
            <div class="form-group">
                <label>تلفن تماس</label>
                <input class="form-control" asp-for="Phone">
            </div>
            <div class="form-group">
                <label>تلفن همراه</label>
                <input class="form-control" asp-for="Mobile">
            </div>
            <div class="form-group">
                <label>آدرس فروشگاه</label>
                <input class="form-control" asp-for="Address">
            </div>
            <hr />
            <h4>وضعیت</h4>
            <div class="control-group">
                @*<div class="radio">
                <label>
                <input type="radio" class="colored-blue" value="@FilterSellerState.All" name="@nameof(Model.State)" @(Model.State == FilterSellerState.All ? "checked":"")>
                <span class="text">همه</span>
                </label>
                </div>
                <div class="radio">
                <label>
                <input type="radio" class="colored-blue" value="@FilterSellerState.Accepted" name="@nameof(Model.State)" @(Model.State == FilterSellerState.Accepted ? "checked":"")>
                <span class="text">تایید شده</span>
                </label>
                </div>*@

                @foreach (var item in Html.GetEnumSelectList<FilterSellerState>())
                {
                    <div class="radio">
                        <label>
                            <input type="radio" class="colored-blue" value="@item.Value" name="@nameof(Model.State)" @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.State) ? "checked" : "")>
                            <span class="text">@item.Text</span>
                        </label>
                    </div>
                }

            </div>
            <button type="submit" class="btn btn-success btn-block">فیلتر</button>
        </form>
    </div>
</div>


<div class="col-xs-8">
    <div class="well with-header with-footer">
        <div class="header bordered-sky">
            @ViewData["Title"]
        </div>
        @if (Model.Sellers != null && Model.Sellers.Any())
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            شناسه
                        </th>
                        <th>
                            نام فروشگاه
                        </th>
                        <th>
                            تلفن
                        </th>
                        <th>
                            وضعیت
                        </th>
                        <th>
                            دستورات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var seller in Model.Sellers)
                    {
                        <tr>
                            <td>
                                @seller.Id
                            </td>
                            <td>
                                @seller.StoreName
                            </td>
                            <td>
                                @seller.Phone
                            </td>
                            <td>
                                @seller.StoreAcceptanceState.GetEnumName()
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <p>
                    هیچ اطلاعاتی یافت نشد
                </p>
            </div>
        }
        <div class="footer">
            <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
        </div>
    </div>
</div>

