<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <partial name="_AdminHeaderReferences" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <partial name="_AdminNaveBarSection" />
    <div class="main-container container-fluid">
        <div class="page-container">
                <partial name="_AdminSideBarSection"></partial>
                <partial name="_AdminChatBarSection"></partial>
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a>
                        </li>
                        @RenderSection("breadcrumb",false)
                        <li class="active">@ViewData["Title"]</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            @ViewData["Title"]
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <partial name="_AdminFooterReferences" />
    @RenderSection("scripts", false)
</body>
</html>
