@using DemoShop.Application.Utils
@model DemoShop.DataLayer.DTO.Products.ProductDetailDTO
@{
    ViewData["Title"] = Model.Title;
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>جزئیات محصول</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mt-60 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="@(PathExtensions.ProductImage + Model.ImageName)" data-zoom-image="@(PathExtensions.ProductImage + Model.ImageName)" alt="big-1">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            <li>
                                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@(PathExtensions.ProductImage + Model.ImageName)" data-zoom-image="@(PathExtensions.ProductImage + Model.ImageName)">
                                    <img src="@(PathExtensions.ProductImage + Model.ImageName)" alt="zo-th-1">
                                </a>

                            </li>
                            @if (Model.ProductGalleries != null && Model.ProductGalleries.Any())
                            {
                                foreach (var gallery in Model.ProductGalleries)
                                {
                                    <li>
                                        <a href="#" class="elevatezoom-gallery" data-update="" data-image="@(PathExtensions.ProductGalleryImage + gallery.ImageName)" data-zoom-image="@(PathExtensions.ProductGalleryImage + gallery.ImageName)">
                                            <img src="@(PathExtensions.ProductGalleryImage + gallery.ImageName)" alt="zo-th-1">
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">

                        <h1>@Model.Title</h1>

                        <div class=" product_ratting">
                            <ul>
                                <li><span><i class="fa fa-star"></i></span></li>
                                <li><span><i class="fa fa-star"></i></span></li>
                                <li><span><i class="fa fa-star"></i></span></li>
                                <li><span><i class="fa fa-star"></i></span></li>
                                <li><span><i class="fa fa-star"></i></span></li>
                                <li class="review"><a href="#"> (امتیاز مشتریان) </a></li>
                            </ul>

                        </div>
                        <div class="price_box">
                            @if (Model.ProductColors != null && Model.ProductColors.Any())
                            {
                                var firstColor = Model.ProductColors.FirstOrDefault();
                                <span class="current_price">@((Model.Price + firstColor.Price).ToString("#,0 تومان")) ( @firstColor.ColorName )</span>
                            }
                            else
                            {
                                <span class="current_price"> @Model.Price.ToString("#,0 تومان") </span>
                            }
                            @* <span class="old_price">80,000 تومان</span> *@

                        </div>
                        <div class="product_desc">
                            <p>
                                @Model.ShortDescription
                            </p>
                        </div>
                        <input type="hidden" name="product_price" value="@Model.Price" id="ProductBasePrice" />
                        @if (Model.ProductColors != null && Model.ProductColors.Any())
                        {
                            <div class="product_variant color">
                                <h3>گزینه های در دسترس</h3>
                                <label>رنگ</label>
                                <ul>
                                    @foreach (var color in Model.ProductColors)
                                    {
                                        <li style="background: @color.ColorCode">
                                            <a onclick="changeProductPriceBasedOnColor(@color.Price, '@color.ColorName')"></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="product_variant quantity">
                            <label>تعداد</label>
                            <input min="1" max="100" value="1" type="number">
                            <button class="button" type="submit">افزودن به سبد</button>

                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li><a href="#" title="افزودن به علاقه‌مندی‌ها">+ افزودن به علاقه‌مندی‌ها</a></li>
                                <li><a href="#" title="مقایسه">+ مقایسه</a></li>
                            </ul>
                        </div>
                        <div class="product_meta">
                            <span>دسته: <a href="#">پوشاک</a></span>
                        </div>

                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a class="facebook" href="#" title="فیسبوک"><i class="fa fa-facebook"></i> لایک</a></li>
                            <li><a class="twitter" href="#" title="توییتر"><i class="fa fa-twitter"></i> توییت</a></li>
                            <li><a class="pinterest" href="#" title="پینترست"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                            <li><a class="google-plus" href="#" title="گوگل پلاس"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                            <li><a class="telegram" href="#" title="تلگرام"><i class="fa fa-telegram"></i> تلگرام</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">مشخصات فنی</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">نقد و برررسی (1)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sheet" role="tabpanel">
                            @if (Model.ProductFeatures != null && Model.ProductFeatures.Any())
                            {
                                <div class="product_d_table">
                                    <table>
                                        <tbody>
                                            @foreach (var feature in Model.ProductFeatures)
                                            {
                                                <tr>
                                                    <td class="first_child">@feature.FeatureTitle</td>
                                                    <td>@feature.FeatureValue</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>1 نقد و بررسی برای این محصول</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="/img/blog/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                        <div class="reviews_meta">
                                            <div class="star_rating">
                                                <ul>
                                                    <li><span><i class="ion-ios-star"></i></span></li>
                                                    <li><span><i class="ion-ios-star"></i></span></li>
                                                    <li><span><i class="ion-ios-star"></i></span></li>
                                                    <li><span><i class="ion-ios-star"></i></span></li>
                                                    <li><span><i class="ion-ios-star"></i></span></li>
                                                </ul>
                                            </div>
                                            <p><strong>مدیر </strong>- 12 اذر 1398</p>
                                        </div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>

                                </div>
                                <div class="comment_title">
                                    <h2>یک نقد و بررسی بنویسید </h2>
                                    <p>ایمیل شما منتشر نخواهد شد. فیلد های الزامی مشخص شده اند </p>
                                </div>
                                <div class="product_ratting mb-10">
                                    <h3>امتیاز شما</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_review_form">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">نقد و بررسی شما </label>
                                                <textarea name="comment" id="review_comment"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">نام</label>
                                                <input id="author" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">ایمیل </label>
                                                <input id="email" type="email" dir="ltr">
                                            </div>
                                        </div>
                                        <button type="submit">ثبت</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product area start-->
<section class="product_area related_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>محصولات مرتبط	</h2>
                </div>
            </div>
        </div>
        <div class="product_carousel product_column5 owl-carousel">
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product1.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product2.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product3.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product4.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">هندزفری بی سیم شیائومی مدل 2019</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product5.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product6.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">هدفون گیمینگ حرفه ای سونی SM5000</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product7.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product8.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">دوربین فیلم برداری 360 درجه سامسونگ</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product9.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product10.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">تلویزیون هوشمند 85 اینچ ال جی سری 8</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product11.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product12.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">دسته بازی کنسول PS4 Gaming Controller</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product4.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product5.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
                    </figcaption>
                </figure>
            </article>
        </div>
    </div>
</section>
<!--product area end-->
<!--product area start-->
<section class="product_area upsell_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>محصولات پرفروش	</h2>
                </div>
            </div>
        </div>
        <div class="product_carousel product_column5 owl-carousel">
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product9.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product10.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product7.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product8.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">هندزفری بی سیم شیائومی مدل 2019</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product5.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product6.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">هدفون گیمینگ حرفه ای سونی SM5000</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product3.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product4.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">دوربین فیلم برداری 360 درجه سامسونگ</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product1.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product2.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">تلویزیون هوشمند 85 اینچ ال جی سری 8</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product15.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product16.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">دسته بازی کنسول PS4 Gaming Controller</a></h3>
                    </figcaption>
                </figure>
            </article>
            <article class="single_product">
                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="product-details.html"><img src="/img/product/product17.jpg" alt=""></a>
                        <a class="secondary_img" href="product-details.html"><img src="/img/product/product18.jpg" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">فروش</span>
                        </div>
                        <div class="action_links">
                            <ul>
                                <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                <li class="quick_button">
                                    <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="add_to_cart">
                            <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="old_price">86,000 تومان</span>
                            <span class="current_price">79,000 تومان</span>
                        </div>
                        <h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
                    </figcaption>
                </figure>
            </article>
        </div>
    </div>
</section>
<!--product area end-->
