@using DemoShop.Application.Utils
@model List<DemoShop.DataLayer.Entities.Product.ProductGallery>
@{
    ViewData["Title"] = "گالری تصاویر محصول";
}


<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li>
                            <a href="/">خانه</a>
                        </li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SellerSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <a asp-area="Seller" asp-controller="Product" asp-action="CreateProductGallery" asp-route-productId="@ViewBag.productId">ثبت تصویر جدید</a>
                            <div class="table-responsive">
                                @if (Model != null && Model.Any())
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>تصویر</th>
                                                <th>اولویت نمایش</th>
                                                <th>دستورات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var gallery in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="@(PathExtensions.ProductGalleryThumbnailImage + gallery.ImageName)" width="75" />
                                                    </td>
                                                    <td>
                                                        @gallery.DisplayPriority
                                                    </td>
                                                    <td>
                                                        <a asp-area="Seller" asp-controller="Product" asp-action="EditGallery" asp-route-productId="@gallery.ProductId" asp-route-galleryId="@gallery.Id" class="view">ویرایش تصویر</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <partial name="_NoItemFound" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>